.slack-search-input {
  -webkit-font-smoothing: antialiased;
  position: relative;
  width: 100%;
  z-index: 500;
  border: 1px solid #ccc;
  padding: 0 5px;
  border-radius: 6px;
  color:#333;

  input.main-input {
    height: 30px;
    width: 100%;
    font-size: 18px;
    border: none;
    overflow: hidden;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: 0;
    z-index: 2;
    letter-spacing: 0px;
    word-spacing: 0px;
    position: relative;
    font-family: Arial, sans-serif;
    direction: ltr;
  }

  .background-container {
    color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    outline: rgb(85, 84, 89) none 0px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    margin: 3px 5px 0 5px;
    white-space: pre;
    overflow: hidden;
    .hint-value {
      color: #ccc;
    }
  }

  .hint-menu-container {
    position: relative;
    left: -6px;
    .arrow {
      &::after {
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        background-clip: padding-box;
        background-color: #fff;
        transform: rotate(45deg);
      }
      position: absolute;
      top: 7px;
      left: 20px;
      z-index: 40;
    }

    .arrow-border {
      &::after {
        content: '';
        display: block;
        width: 12px;
        height: 11px;
        background-clip: padding-box;
        background-color: #ccc;
        transform: rotate(45deg);
      }
      position: absolute;
      top: 6px;
      left: 20px;
    }

    .hint-menu {
      position: absolute;
      background-color: white;
      top: 11px;
      left: 0px;
      min-width: 300px;
      padding: 10px 14px;
      box-shadow: 0 0 5px 0px #eee;
      border: 1px solid #ccc;
      border-radius: 6px;
      &.with-help {
        width: 360px;
        .help-title {
          font-weight: 600;
          margin: 3px 0 6px 0;
        }
        .help-text {

        }
      }
      .section-header {
        position: relative;
        margin: 2px 0;
        hr {
          width: 100%;
          top: 11px;
          margin: 0 !important;
          position: absolute;
        }
        .header-label {
          text-transform: capitalize;
          color: #999;
          background: white;
          z-index: 20;
          position: relative;
          padding: 0 10px 0 7px;
          font-size: 13px;
          color: #aaa;
        }
      }
    }
  }

  .background-container, .hint-menu.with-help {
    .modifier {
      position: relative;
      z-index: 10;
      &.incomplete:before {
        right: 0;
        border-color: #FFDCB1;
        background: #ffebaa;
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#ffebaa),color-stop(1,#fff9dc));
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:before {
        content: ' ';
        position: absolute;
        top: -1px;
        left: 0;
        z-index: -1;
        right: -1px;
        bottom: 0;
        display: block;
        box-sizing: border-box;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #8CD5B7;
        background: #E5F4EE;
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#ccecdf),color-stop(1,#e9f6f1));
      }
    }
  }

  .hint-menu.with-help .modifier {
    cursor: pointer;
    border-radius: 3px;
  }

  ul.slack-search-input-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll;
    position: relative;
    max-height: 200px;
    li {
      margin: 0;
      padding: 2px 8px;
      border-radius: 3px;
      .modifier-value {
        color: #aaa;
      }
      &:hover {
        background-color: #F7F7F7;
      }
      &.current {
        .modifier-value {
          color: #ddd;
        }
        background-color: #399EFF;
        color: white;
      }
    }
  }
}



